{%extends "blog/base.html"%}
{%block content%}


<link href='https://fonts.googleapis.com/css?family=Cutive' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=David Libre' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Ewert' rel='stylesheet'>
<!-- Page content -->
<h1 class="w3-center" style="font-family: Ewert; font-size: 50px">About Us</h1><br>
<marquee direction="right" style = "size: 25px"><b>Branches : Pune | Satara | Bangalore | Mumbai </b></marquee>
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="800" height="550">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h5 class="w3-center">Tradition since 2012</h5>
      <p class="w3-large" style="font-family: David Libre">he pharmaceutical industry discovers, develops, produces, and markets drugs or pharmaceutical drugs for use as medications to be administered (or self-administered) to patients to cure them, vaccinate them, or alleviate a symptom. Pharmaceutical companies may deal in generic or brand medications and medical devices. They are subject to a variety of laws and regulations that govern the patenting, testing, safety, efficacy and marketing of drugs. It has multiple branches spread over country. It is one of the reputed pharmaceutical industry which give the assurity to all customers related to health.
      <p class="w3-large w3-text-grey w3-hide-medium"><b>Contact Number : 7020855302<br>Website : www.absolutions.com <br> email : absolutions@gmail.com</b></p>
    </div>
  </div>
  
  <hr>

  {% endblock content %}