{%extends "blog/base.html"%} 
{%block content%}
	<br>
	<h1>Record of {{ object.company_name }}</h1>
	<br>
<!--	<div class="container">
		<div class="table-responsive"> -->
			<table class="table table-hover">
 			 <thead class="thead-dark">
	
			
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Speciality</th>
					<th>Date Posted</th>
				</tr>
				<tr>

					<td>{{object.company_id}}</td>
					<td>{{object.company_name}}</td>
					<td>{{object.Address}}</td>
					<td>{{object.date_posted|date:"F d, Y"}}</td>
				</tr>
			
			</table>
			<hr>
		<a class = "btn btn-secondary mt-1 mb-1 mr-1 " href="{%url 'company-update' object.company_id%} ">Update</a>	
		<a class = "btn btn-danger mt-1 mb-1 mr-5 " href="{%url 'company-delete' object.company_id%}">Delete</a>
		

	

{%endblock%}