{% extends "blog/base.html"%}
{% block content %}

<div class="container">
	<h1>Search for Medicine</h1>
	<form method="post" action="/search_medicine/">
		{% csrf_token %}
		<div class="form-group" style="margin-left: 30%">
			<div class="col-lg-5">
				<input type="text" name="srh" class="form-control" placeholder="Enter name or medcine id" style="margin-top: 30%">
			</div>
			<label class="col-lg-2">
				<button type="submit" class="btn btn-danger" style="margin-top: -74%">Search</button>
			</label>
		</div>
	</form>

</div>

<div style="color: blue">
	{% if sr %}
		{% for k in sr %}
			<table border="3px" width="300px" style="padding: 10%; width: 60%; background-color: yellow; margin-left: 20%; height: 60%">
				<tr>
					<td>Medicine ID</td>
					<td>{{k.medicine_id}}</td>
				</tr>
				<tr>
					<td>Name</td>
					<td>{{k.medicine_name}}</td>
				</tr>
				<tr>
					<td>Cost</td>
					<td>{{k.cost}}</td>
				</tr>
				<tr>
					<td>Type</td>
					<td>{{k.medicine_type}}</td>
				</tr>
			</table>


		{% endfor %}
	{% endif %}
</div>


{% endblock content%}